section.password-section {
  display: grid;
  width: 100%;
  max-width: 450px;
  place-self: center;
  height: auto;
  min-height: 400px;
  background-color: rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(20px);
  /* place-content: center; */
  padding: 10px;
  padding-top: 20px;
  border-radius: 20px;
}

section h2 {
  width: 100%;
  /* background-color: var(--green); */
  border: none;
  border-radius: 20px;
  color: black;
  place-content: center;
  text-align: center;
  font-family: PoppinsMed;
  height: 40px;
  align-items: center;
  font-size: 30px;
  display: grid;
  margin-bottom: 20px;
}

section div {
  display: grid;
  place-content: center;
}

section div.change-pw {
  /* display: none; */
}

section div.restore-pw{
    display: none;
}

div.restore-pw .OTP-list {
  /* display: none; */
}

ul {
  display: grid;
  width: 100%;
  padding: 10px;
  place-content: center;
  gap: 5px;
}

ul li {
  display: grid;
}

div h3 {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

ul.pw-input-list input {
  border: 2px solid rgba(200, 200, 200, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(20px);
  min-width: 300px;
  outline: none;
}

ul.pw-input-list input:focus {
  border: 2px solid var(--green-trans);
}

p.message,
p.warning {
  font-size: smaller;
  text-align: center;
}

.id-message {
  color: rgb(0, 117, 175);
}

.warning {
  color: red;
}

button {
  place-self: center;
  display: grid;
  text-align: center;
  cursor: pointer;
  width: 80%;
  color: white;
  background-color: var(--green-trans);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
}
