@media screen and (min-width: 768px) {
  .leftSide div.menu-tab {
    display: none;
  }

  .leftSide ul {
    display: flex;
  }
  #menu-bar{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .leftSide div.menu-tab {
    display: grid;
  }

  .leftSide ul {
    display: none;
  }

  
}
